VERBOSITY=silly
SCHEMA=ubiquits

# MariaDB container config
MYSQL_DATABASE=ubiquits
MYSQL_USER=ubiquits
MYSQL_PASSWORD=ubiquits
MYSQL_ROOT_PASSWORD=ubiquits_root

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=ubiquits
DB_USERNAME=ubiquits
DB_PASSWORD=ubiquits
DB_DRIVER=mysql
DB_IMAGE=mariadb:10.1.14

APP_PORT=3000
REMOTE_PORT=3001
PATH_ROOT=/data
WEB_ROOT=/data/dist/browser

# force chalk to output color to remote cli / docker logs
FORCE_COLOR=true

# !!DANGER!! Any env variable defined with the prefix PUBLIC_ is exported to the browser!
# DO NOT prefix any variable that you don't want made public with PUBLIC_ !

PUBLIC_API_BASE=/api
PUBLIC_DEMO_ID=72eed629-c4ab-4520-a987-4ea26b134d8c