version: '2'

services:
  database:
    extends:
      file: ./node_modules/@ubiquits/core/docker/common-services.yml
      service: database
    ports:
      - "${DB_PORT}:${DB_PORT}"
    env_file:
      - .env

  app:
    image: node:6.3.1
    volumes:
      - .:/data
    command: node /data/dist/server/server/bootstrap.js
    ports:
      - "${APP_PORT}:${APP_PORT}"
      - "${REMOTE_PORT}:3001"
    env_file:
      - .env
    environment:
      - NODE_ENTRYPOINT=/data/dist/server/server/bootstrap.js
      - NGINX_VHOSTS=/data/docker/vhosts/*.conf
      - DB_HOST=database
      - PATH_ROOT=/data
