<main>
    <div class="background"></div>
    <h2>Hello <span class="invert">from</span></h2>
    <h1>Angular 2 App & Ubiquits API</h1>
    <div class="logo-group">
        <a href="http://angular.io" target="_blank">
            <img src="../public/images/angular.png">
        </a>
        <span>&amp;</span>
        <a href="http://ubiquits.com" target="_blank">
            <img src="../public/images/ubiquits.svg">
        </a>
    </div>

    <button (click)="findOne()">Find One</button>
    <button (click)="findMany()">Find Many</button>
    <button (click)="saveOne()">Save One</button>
    <pre><code>{{requestData|json}}</code></pre>
    <pre><code>{{responseData|json}}</code></pre>
</main>
